<tr>
  <td rowspan="3" class="td_item_lc_detail">No.</td>
  <td rowspan="2" colspan="2" class="td_item_lc_detail">IN CASE OF GF OLD ITEM</td>
  <td rowspan="3" class="td_item_lc_detail">Item</td>
  <td rowspan="2" colspan="5" class="td_item_lc_detail">Description</td>
  <td rowspan="3" class="td_item_lc_detail">Qty</td>
  <td rowspan="3" class="td_item_lc_detail">Total </td>
  <td rowspan="3" class="td_item_lc_detail">Round UP</td>
  <td colspan="3" class="td_item_lc_detail">PRICE LIST</td>
  <td colspan="2" class="td_item_lc_detail">COST</td>
  <td colspan="2" class="td_item_lc_detail">PRICE</td>
  <td class="td_item_lc_detail">Volume Discount</td>
  <td class="td_item_lc_detail">Net Amount</td>
  <td class="td_item_lc_detail">Weight</td>
</tr>
<tr>
  <td class="td_amount_discount_lc_detail">price list</td>
  <td class="td_amount_discount_lc_detail">length</td>
  <td class="td_amount_discount_lc_detail">PROCESS FEE</td>
  <td class="td_amount_discount_lc_detail">Cost Unit</td>
  <td class="td_amount_discount_lc_detail">Amount</td>
  <td class="td_amount_discount_lc_detail">Unit</td>
  <td class="td_amount_discount_lc_detail">Amount</td>
  <td class="td_amount_discount_lc_detail">Amount</td>
  <td class="td_amount_discount_lc_detail">Amount</td>
  <td class="td_amount_discount_lc_detail">Amount</td>
</tr>
<tr>
  <td class="td_amount_discount_lc_detail">OLD</td>
  <td class="td_amount_discount_lc_detail">NEW</td>
  <td class="td_amount_discount_lc_detail">Description</td>
  <td class="td_amount_discount_lc_detail">PROCESS NO</td>
  <td class="td_amount_discount_lc_detail">Series</td>
  <td class="td_amount_discount_lc_detail">L=</td>
  <td class="td_amount_discount_lc_detail">Length</td>
  <td class="td_amount_discount_lc_detail">THB</td>
  <td class="td_amount_discount_lc_detail">mm</td>
  <td class="td_amount_discount_lc_detail">THB</td>
  <td class="td_amount_discount_lc_detail">THB</td>
  <td class="td_amount_discount_lc_detail">THB</td>
  <td class="td_amount_discount_lc_detail">THB</td>
  <td class="td_amount_discount_lc_detail">THB</td>
  <td class="td_amount_discount_lc_detail">THB</td>
  <td class="td_amount_discount_lc_detail">THB</td>
  <td class="td_amount_discount_lc_detail">Kg</td>
</tr>