<% if @template_name =~ /domestic/ %>
  <tr>
    <td rowspan="3" class="td_item_lc_detail">No.</td>
    <td rowspan="3" class="td_item_lc_detail">Robo Type</td>
    <td rowspan="3" class="td_item_lc_detail">Item</td>
    <td rowspan="3" class="td_item_lc_detail">Description</td>
    <td rowspan="3" class="td_item_lc_detail">Qty</td>
    <td class="td_item_lc_detail">COST(FOB)</td>
    <td colspan="4" class="td_item_lc_detail">ROBOT COST(CIF)</td>
    <td colspan="3" class="td_item_lc_detail">Duty</td>
    <td colspan="2" class="td_item_lc_detail">FACTORY COST</td>
    <td colspan="2" class="td_item_lc_detail">SELLING PRICE</td>
    <td colspan="2" class="td_item_lc_detail">JPN STD PRICE</td>
  </tr>
  <tr>
    <td class="td_amount_discount_lc_detail">Unit</td>
    <td class="td_amount_discount_lc_detail">Unit</td>
    <td class="td_amount_discount_lc_detail">Total</td>
    <td class="td_amount_discount_lc_detail">Unit</td>
    <td class="td_amount_discount_lc_detail">Total</td>
    <td class="td_amount_discount_lc_detail">%</td>
    <td class="td_amount_discount_lc_detail">Unit</td>
    <td class="td_amount_discount_lc_detail">Total</td>
    <td class="td_amount_discount_lc_detail">Unit</td>
    <td class="td_amount_discount_lc_detail">Total</td>
    <td class="td_amount_discount_lc_detail">Unit</td>
    <td class="td_amount_discount_lc_detail">Amount</td>
    <td class="td_amount_discount_lc_detail">Unit</td>
    <td class="td_amount_discount_lc_detail">Amount</td>
  </tr>
  <tr>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">THB</td>
    <td class="td_amount_discount_lc_detail">THB</td>
    <td class="td_amount_discount_lc_detail">&nbsp;</td>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">THB</td>
    <td class="td_amount_discount_lc_detail">THB</td>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">JPY</td>
  </tr>
<% else %>
  <tr>
    <td rowspan="3" class="td_item_lc_detail">No.</td>
    <td rowspan="3" class="td_item_lc_detail">Robo Type</td>
    <td rowspan="3" class="td_item_lc_detail">Item</td>
    <td rowspan="3" class="td_item_lc_detail">Description</td>
    <td rowspan="3" class="td_item_lc_detail">Qty</td>
    <td class="td_item_lc_detail">COST(FOB)</td>
    <td colspan="4" class="td_item_lc_detail">ROBOT COST(CIF)</td>
    <td colspan="3" class="td_item_lc_detail">Duty</td>
    <td colspan="2" class="td_item_lc_detail">FACTORY COST</td>
    <td colspan="4" class="td_item_lc_detail">SALE PRICE</td>
  </tr>
  <tr>
    <td class="td_amount_discount_lc_detail">Unit</td>
    <td class="td_amount_discount_lc_detail">Unit</td>
    <td class="td_amount_discount_lc_detail">Total</td>
    <td class="td_amount_discount_lc_detail">Unit</td>
    <td class="td_amount_discount_lc_detail">Total</td>
    <td class="td_amount_discount_lc_detail">%</td>
    <td class="td_amount_discount_lc_detail">Unit</td>
    <td class="td_amount_discount_lc_detail">Total</td>
    <td class="td_amount_discount_lc_detail">Unit</td>
    <td class="td_amount_discount_lc_detail">Total</td>
    <td class="td_amount_discount_lc_detail">Unit</td>
    <td class="td_amount_discount_lc_detail">Unit</td>
    <td class="td_amount_discount_lc_detail">Amount</td>
    <td class="td_amount_discount_lc_detail">Amount</td>
  </tr>
  <tr>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">THB</td>
    <td class="td_amount_discount_lc_detail">THB</td>
    <td class="td_amount_discount_lc_detail">&nbsp;</td>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">USD</td>
    <td class="td_amount_discount_lc_detail">JPY</td>
    <td class="td_amount_discount_lc_detail">USD</td>
  </tr>
<% end %>