<span class="field_search_half" >
<%= radio_button_tag(input_name,'uploaded',false) %>
<%= label_tag "#{input_name}[uploaded]", 'Uploaded'%>
</span>
<span class="field_search_half" >
<%= radio_button_tag(input_name,'notuploaded',false) %>
<%= label_tag "#{input_name}[notuploaded]", 'Not uploaded'%>
</span>
