<table>
  <!-- WARNING!!! The first list must be the table start tag -->
  <tr id="<%= @screen.id %>_replacement" readonly='<%= @readonly %>'>
    <%= render :partial => "screen", :locals => { :screen => @screen } %>
  </tr>
</table>
