<table>
  <!-- WARNING!!! The first list must be the table start tag -->
  <tr id="<%= @report.id %>_replacement" readonly='<%= @readonly %>'>
    <%= render :partial => "report", :locals => { :report => @report } %>
  </tr>
</table>
