<!------------------------------------ Front Desk Start -------------------------------------->
<table style='position:absolute;height:100%;width:100%;top:0px; left:0px;' border=0 cellspacing=0 cellpadding=0>
  <tr valign='top' height='0%'>
  	<%= render :partial=>"panel_top"%>
  </tr>
  <tr valign='top' height='100%'>
    <%= render :partial=>"panel_left"%>
    <%= render :partial=>"panel_right"%>
  </tr>
</table>
<!------------------------------------ Front Desk End -------------------------------------->
<div id='pop_box'></div>