<!------------------------------------ Top Border (top left + top border) Start ------------------>
<!-- 1 --> <!-- 2 --> <td width='0%' style='width:0%' id='top_left_border' ><img src='/images/pms_theme_top_left_border.jpg' alt="" /></td>
<!-- 1 --> <!-- 2 --> <td width='100%' id='top_border' style='width:100%; font-size:1; border-width:0; background-image:url(/images/pms_theme_top_border.jpg);'>
<!-- 1 --> <!-- 2 --> </td>
<!------------------------------------ Top Border (top left + top border) Start ------------------>