<!--------------------------------------Main Panel Start ----------------------------------->
<!-- 1 --> <!-- 2 --> <td rowspan='2' id='main' style='background-color:#EAF4FF; height:100%; width:100%' width='100%' height='100%' RebindObjectEvents='false' onpropertychange='fncCheckRebindObjectEvent(this);'>
<!-- 1 --> <!-- 2 -->   <%= yield %>
<!-- 1 --> <!-- 2 --> </td>
<!--------------------------------------Main Panel End ----------------------------------->