<!-------------------------------------------Left border Start ----------------------------------->
<!-- 1 --> <!-- 2 --> <td id='left_border' style='background-image:url(/images/pms_theme_left_border.jpg);' width='0%' style='width:0%'>
<!-- 1 --> <!-- 2 -->   <a href='#' onclick='fncToggleLeftPanel(); return false;'><img src='/images/pms_theme_left_button.jpg' width='14' height='45' border='0' alt="Show/Hide Left Panel"/></a>
<!-- 1 --> <!-- 2 --> </td> 
<!-------------------------------------------Left border End ----------------------------------->