<table>
  <!-- WARNING!!! The first list must be the table start tag -->
  <tr id="<%= @user.id %>_replacement" readonly='<%= @readonly %>'>
    <%= render :partial => "user", :locals => { :user => @user } %>
  </tr>
</table>
