<table>
  <!-- WARNING!!! The first list must be the table start tag -->
  <tr id="<%= @language.id %>_replacement" readonly='<%= @readonly %>'>
    <%= render :partial => "language", :locals => { :language => @language } %>
  </tr>
</table>
