<table>
  <!-- WARNING!!! The first list must be the table start tag -->
  <%
  tr_id = "#{@field.screen_id}_#{@field.id}"
  %>
  <tr id="<%= tr_id %>_replacement" readonly='<%= @readonly %>'>
    <%= render :partial => "field", :locals => { :field => @field } %>
  </tr>
</table>
