<table style='font-family: monospace'>
  <tr>
    <th>Format</th>
    <th>Description</th>
    <th>Sample Date<br />2009/10/01</th>
  </tr>
  <tr>
    <td>y</td>
    <td>year's last 1 digit (0, 1, ..., 9)</td>
    <td>9</td>
  </tr>
  <tr>
    <td>yy</td>
    <td>year's last 2 digits (00, 01, ..., 99)</td>
    <td>09</td>
  </tr>
  <tr>
    <td>yyyy</td>
    <td>year with century (1999, 2000, 2001, ...)</td>
    <td>2009</td>
  </tr>
  <tr>
    <td>mm</td>
    <td>month (01, 02, ..., 12)</td>
    <td>10</td>
  </tr>
  <tr>
    <td>mmm</td>
    <td>short name of month (3 characters) (JAN, FEB, ..., DEC)</td>
    <td>OCT</td>
  </tr>
  <tr>
    <td>mmmm</td>
    <td>full name of month (JANUARY, ..., DECEMBER)</td>
    <td>OCTOBER</td>
  </tr>
  <tr>
    <td>dd</td>
    <td>date (2 digits) (01, 02, ..., 31)</td>
    <td>01</td>
  </tr>
  <tr>
    <td>ww</td>
    <td>week of year (1, 2, ..., 52) [unsupported]</td>
    <td>39</td>
  </tr>
  <tr>
    <td>q</td>
    <td>quarter of year (1, 2, 3, 4)</td>
    <td>4</td>
  </tr>
  <tr>
    <td>h</td>
    <td>half of year (1, 2)</td>
    <td>2</td>
  </tr>
  <tr>
    <td>###</td>
    <td>running number (#:1~9, ##:00~99, ...)</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>"XXX"</td>
    <td>any free text</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>[Ref.Field]</td>
    <td>Reference Attribute</td>
    <td>&nbsp;</td>
  </tr>
</table>
