<table>
  <!-- WARNING!!! The first list must be the table start tag -->
  <tr id="<%= @custom_field.id %>_replacement" readonly='<%= @readonly %>'>
    <%= render :partial => "custom_field", :locals => { :custom_field => @custom_field } %>
  </tr>
</table>
