<tr class="tr_header" ><th class="group_caption_center" colspan="2">Ruby on Rails</th></tr>
<tr class="tr_header"><th class="th_col_header">Name</th><th class="th_col_header">Version</th></tr>
<tr class="tr_data_odd">
  <td class="td_cell">Ruby</td><td class="td_cell"><%=`ruby --version`.gsub(/^ruby /,'') %></td>
</tr>
<tr class="tr_data_evend">
  <td class="td_cell">Rails</td><td class="td_cell"><%=Rails.version %></td>
</tr>