<h1>Restore Database</h1>

<div class="memo">
  <p>
    To restore a previously saved database file on your computer to the server,
    please type a location for storing the database file or click Browse to look for one,
    and then click Restore.
    In some cases, you may need to reconfigure.
  </p>
</div>

<table>
  <tr>
    <td><input name="file_src" type="radio" id="r1"/> <label for="r1">Backup File</label> </td>
    <td>[...............]</td>
  </tr>
  <tr>
    <td><input name="file_src" type="radio" id="r2"/> <label for="r2">Auto Backup 20110820120000</label></td>
  </tr>
  <tr>
    <td><input name="file_src" type="radio" id="r3"/> <label for="r3">Auto Backup 20110820100000</label></td>
  </tr>
  <tr>
    <td><input name="file_src" type="radio" id="r4"/> <label for="r4">Auto Backup 20110819120000</label></td>
  </tr>
</table>

[Restore]
