<hr />
<!--div id="caption_translation_en"></div-->
<table>
  <tr>
    <td>
      <iframe id="caption_translation_google" style="background-color: DEF;width:480px;height:320px;" frameborder="0" src="http://translate.google.com/m/translate"></iframe>
    </td>
    <td>
      <iframe id="caption_translation_longdo" style="background-color: DEF;width:480px;height:320px;" frameborder="0" src="http://dict.longdo.com/mobile.php"></iframe>
    </td>
  </tr>
</table>
