<table>
  <!-- WARNING!!! The first list must be the table start tag -->
  <tr id="<%= @label.id %>_replacement" readonly='<%= @readonly %>'>
    <%= render :partial => "caption", :locals => { :caption => @label } %>
  </tr>
</table>
