<table>
  <!-- WARNING!!! The first list must be the table start tag -->
  <tr id="<%= @role.id %>_replacement" readonly='<%= @readonly %>'>
    <%= render :partial => "role", :locals => { :role => @role } %>
  </tr>
</table>
